<h1>Create a New Adventure</h1>
<%= form_for @adventure do |f| %>

  <%= label_tag(:title, "Title:") %>
  <%= f.text_field :title %></br>

  <%= label_tag(:author, "Author") %> 
  <%= f.text_area :author %></br>
  <%= f.submit "Create" %>
<% end %>